[submodule "distributed_dagger"]
	path = distributed_dagger
	url = https://github.com:naokiyokoyama/distributed_dagger.git
[submodule "frontier_exploration"]
	path = frontier_exploration
	url = https://github.com/naokiyokoyama/frontier_exploration.git
[submodule "panoptic_gs"]
	path = panoptic_gs
	url = https://github.com/EmbodiedAILab/panoptic_gs.git
